body{
    padding:50px;
    background-image: url('90944.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    max-width: 600px;
    margin:0 auto;
    padding:50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #31352E;
}
.form-group{
    margin-bottom:30px;
}
